

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Review System</title>
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  />                                     
     <%- include('_bootstrap_css') %>

     
    <style>
      body{
        background-color: rgb(63, 168, 182);
        /* background-color: rgb(18, 112, 23); */
      }
      
      .user-card {
            background-color: rgb(228, 220, 220);
          /* max-width: 350px; */
          /* max-width: max-content; */
          width: 50%;
          margin-top: 30px;
          /* margin: 20px auto; */
          text-align: center;
          padding: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
        }

        .user-icon {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-bottom: 15px;
          object-fit: cover;
        }

        .card-btn {
          color: #fff;
          width: 80px;
          /* height: 42px; */
          height: auto;
          outline: none;
          border: none;
          display: block;
          cursor: pointer;
          font-weight: 300;
          margin-left: auto;
          margin-right: auto;
          border-radius: 70px;
          box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16);
          background: linear-gradient(45deg, rgba(87,29,146,1) 0%,rgba(172,25,102,1) 100%);
          /* font-weight: 300; */
          text-align: left;
          /* padding-left: 5px !important;   */
          padding-right: 5px !important;
		    }

        a, a:hover{
          text-decoration: none;
          color: inherit;
        }
        td{
          padding: 10px 20px ;
          border-top: 2px solid black;
        }

    </style>


</head>
<body>
    <%- include('_empLoginHeader') %>

    <% if(message) { %>
      <p><%= message %></p>
    <% } else{ %>
      <div class="container">

        <div class="container d-flex mt-3">
          <h3 class="text-light" >Add Review</h3>
        </div>
        
          <div class="container ">
                <div class="user-card ml-auto mr-auto">
                  <form class="form " action="/reviewByEmployee/<%= employee._id %>" method="post">
                      
                      <div class="form-group"> <!-- style="display: none;"-->
                          <select class="form-control" required  name="reviewForEmpId" id="reviewForEmpId">
                              <option value="<%= employee._id %>" disabled selected> <%= employee.empName %>  </option>                       
                          </select>
                      </div>
                      
                      <div class="form-group">
                          <textarea class="form-control" type="text" required placeholder="Type your review here.." name="reviewDetails" id="reviewDetails">
                          </textarea>
                      </div>
                      
                      <div class="text-center ">
                          <button class="btn btn-large form-group mr-5 bg-light"><a href="/employee/home" style="text-decoration: none; color: black;">Back</a></button>
                          <input class="btn btn-warning btn-large form-group" type="submit" value="Save">
                      </div>
      
                  </form>
              </div>


              
          </div>
        </div>
    <% } %>

</body>
</html>




